<% provide(:title, @user.name) %>
<div class="row">
	<aside class="span4">
		<section>
			<div>
				<h1><%= @user.name %></h1>
			</div>
			<h1>
				<%= gravatar_for @user, size: 150 %>
			</h1>
		</section>
	</aside>
	<div class= "span4 hero-unit">
		<h2> Progress Chart </h2>
	</div>	
</div>
<div class="row">
	<div class="span9">
		<% if @user.workouts.any? %>
			<h3>Total Workouts(<%= @user.workouts.count %>)</h3>
		<%else%>
			<h3>No workouts recorded.</h3>
		<% end %>
	</div>
</div>
<div class="row">
	<div class="span2">
			<% if current_user?(@user) %>
				<h3><%= link_to "New workout", new_workout_path, class: "btn btn-large btn-primary" %></h3>
			<% end %>
	</div>		
</div>

<%= will_paginate @workouts %>

<div class="accordion" id="accordion2">
	
	<% @workouts.each do |workout| %>
		<% accordion_linkage = workout.id.to_s %>
		<div class="accordion-group">
			<div class="accordion-heading">
				<div class="row">
					<div class="span9">
						<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#<%= accordion_linkage %>">
								<% dtdate = workout.date %>
								<% strdate = dtdate.inspect %>
								<% ardate = strdate.split %>
								<span class="span2">
								<%= "#{ardate[0]} #{ardate[2]} #{ardate[1]}" %>: 
								</span>
								<span class="span3">
									<% n = number_with_delimiter(workout.weight_lifted_lb, delimiter: ',') %>
									<strong><%= n %> lbs </strong>
									(<%= number_with_delimiter(workout.work_joule, delimiter: ',') %> joules)
								</span>
								<% bars = (workout.weight_lifted_lb/1000).round %>
								
								<% 1.upto(3 < bars ? 3 : bars) do |n| %>
									<span class="btn btn-mini intensity-bars" ></span>
								<% end %>
								<% 4.upto(6 < bars ? 6 : bars) do |n| %>
									<span class="btn btn-mini btn-info intensity-bars" ></span>
								<% end %>
								<% 7.upto(9 < bars ? 9 : bars) do |n| %>
									<span class="btn btn-mini btn-primary intensity-bars" ></span>
								<% end %>
								<% 10.upto(12 < bars ? 12 : bars) do |n| %>
									<span class="btn btn-mini btn-danger intensity-bars" ></span>
								<% end %>
								<% 13.upto(bars) do |n| %>
									<span class="btn btn-mini btn-inverse intensity-bars" ></span>
								<% end %>
						</a>
					</div>

					<% if current_user?(workout.user) %>
						<div class="span1">
							<%= link_to edit_workout_path(workout) do %>
								<span class="btn btn-mini btn-primary  center-icon">
									<i class="icon-pencil icon-white"></i>
								</span>
							<%end%>
						</div>
						<div class="span1">
		   					
		   					<%= link_to '<span class="btn btn-mini btn-primary center-icon">
									<i class="icon-remove icon-white"></i>
								</span>'.html_safe, workout, method: :delete, data: { confirm: "You sure?" }, title: workout.created_at %>

						</div>
					<%end%>
				</div>
			</div>
			<div id="<%= accordion_linkage %>" class="accordion-body collapse">
				<div class="accordion-inner rep-list">
					<ol>
						<% workout.reps.each do |rep| %>
							<li>
							
								<span class="span2">
									<%=
									#Exercise.find(rep.exercise_id).name 
									#rep.exercise_id
									rep.exercise_name
									%>:
								</span>
								<span class="span3">
									<%= rep.weight_additional_lb %> lbs, 
									(<%= rep.work_joule.round %> joules)
								</span>
								<% bars = (rep.weight_additional_lb/25).round %>
								
								<% 1.upto(3 < bars ? 3 : bars) do |n| %>
									<span class="btn btn-mini intensity-bars-mini" ></span>
								<% end %>
								<% 4.upto(6 < bars ? 6 : bars) do |n| %>
									<span class="btn btn-mini btn-info intensity-bars-mini" ></span>
								<% end %>
								<% 7.upto(9 < bars ? 9 : bars) do |n| %>
									<span class="btn btn-mini btn-primary intensity-bars-mini" ></span>
								<% end %>
								<% 10.upto(12 < bars ? 12 : bars) do |n| %>
									<span class="btn btn-mini btn-danger intensity-bars-mini" ></span>
								<% end %>
								<% 13.upto(bars) do |n| %>
									<span class="btn btn-mini btn-inverse intensity-bars-mini" ></span>
								<% end %>
							
							</li>
						<%end%>
					</ol>
				</div>
			</div>
		</div>	
	<% end%>


</div>