<% provide(:title, @user.name) %>
<div class="row">
	<aside class="span4">
		<section>
			<div>
				<h1><%= @user.name %></h1>
			</div>
			<h1>
				<%= gravatar_for @user, size: 150 %>
			</h1>
		</section>
	</aside>
	<div class= "span4 hero-unit">
		<h2> Progress Chart </h2>
	</div>	
</div>
<div class="row">
	<div class="span16">
		<% if @user.workouts.any? %>
			<h3>Workouts(<%= @user.workouts.count %>)</h3>
		<% end %>
	</div>	
</div>

<%= will_paginate @workouts %>

<div class="accordion" id="accordion2">
	
	<% @user.workouts.each do |workout| %>
		<% accordion_linkage = workout.id.to_s %>
		<div class="accordion-group">
			<div class="accordion-heading">
				<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#<%= accordion_linkage %>">
					<span class="timestamp">
						Workout posted <%= time_ago_in_words(workout.created_at) %> ago, Total Reps: <%= workout.reps.count %>
					</span>
				</a>
			</div>
			<div id="<%= accordion_linkage %>" class="accordion-body collapse">
				<div class="accordion-inner">
					<ol>
						<% workout.reps.each do |rep| %>
							<li>
							<%= "Exercise: " + Exercise.find(rep.exercise_id).name + ", " +
								"Weight: " + rep.weight_additional_kg.to_s %>
							</li>
						<%end%>
					</ol>
				</div>
			</div>
		</div>	
	<% end%>


</div>