<% provide(:title, @user.name) %>
<div class="row">
	<aside class="span4">
		<section>
			<div>
				<h1><%= @user.name %></h1>
			</div>
			<h1>
				<%= gravatar_for @user, size: 150 %>
			</h1>
		</section>
	</aside>
	<div class= "span4 hero-unit">
		<h2> Progress Chart </h2>
	</div>	
</div>
<div class="row">
	<div class="span6">
		<% if @user.workouts.any? %>
			<h3>Total Workouts(<%= @user.workouts.count %>)</h3>
		<%else%>
			<h3>No workouts recorded.</h3>
		<% end %>
	</div>
	<div class="span4">
			<h3><%= link_to "Start new workout?", new_workout_path %></h3>
	</div>		
</div>

<%= will_paginate @workouts %>

<div class="accordion" id="accordion2">
	
	<% @workouts.each do |workout| %>
		<% accordion_linkage = workout.id.to_s %>
		<div class="accordion-group">
			<div class="accordion-heading">
				<div class="row">
					<div class="span6">
						<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#<%= accordion_linkage %>">
								<% dtdate = workout.date %>
								<% strdate = dtdate.inspect %>
								<% ardate = strdate.split %>
								<%= "#{ardate[2]} #{ardate[1]} #{ardate[0]}" %> 
								<%= pluralize(workout.reps.count, "rep") %> , 
								<%= number_with_delimiter(workout.work_joule, delimiter: ',') %> joules
								
								<% n = number_with_delimiter(workout.weight_lifted_lb, delimiter: ',') %>
								<%= n %> pounds
								<% bars = (workout.weight_lifted_lb/1000).round %>
								
								<% 1.upto(bars) do |n| %>
									<span>.</span>
								<% end %>
							
						</a>
					</div>
					<div class="span2">
						<% if current_user?(workout.user) %>
							<%= link_to "edit", edit_workout_path(workout) %>
						<%end%>
					</div>
					<div class="span2">
						<% if current_user?(workout.user) %>
	   						<%= link_to "delete", workout, method: :delete, data: { confirm: "You sure?" }, title: workout.created_at %>
						<%end%>
					</div>
				</div>
			</div>
			<div id="<%= accordion_linkage %>" class="accordion-body collapse">
				<div class="accordion-inner">
					<ol>
						<% workout.reps.each do |rep| %>
							<li>
								<%=Exercise.find(rep.exercise_id).name %>:
								<%= rep.weight_additional_lb %> lbs, 
								(<%= rep.work_joule.round %> joules)
							</li>
						<%end%>
					</ol>
				</div>
			</div>
		</div>	
	<% end%>


</div>