<% provide(:title, @user.name) %>

<%= render 'user_panel' ,user: @user %>


<!-- BEGIN generic horizontal tabs !-->
<div class="tabbable tabs-left">
	<ul class = "nav nav-tabs">
		<li class="active"><a data-toggle="tab" href="#tab1">first</a></li>
    <li class=""><a data-toggle="tab" href="#tab2">second</a></li>
    <li class=""><a data-toggle="tab" href="#tab3">third</a></li>
    <li class=""><a data-toggle="tab" href="#tab4">fourth</a></li>
	</ul>
	<div class="tab-content" id="myTabContent">
    <div id="tab1" class="tab-pane fade active in">
	   	<p> tab1 content here </p>
	  </div>
	  <div id="tab2" class="tab-pane fade">
	   	<p> tab2 content here </p>
	  </div>
	  <div id="tab3" class="tab-pane fade">
	   	<p> tab3 content here </p>
	  </div>
	  <div id="tab4" class="tab-pane fade">
	   	<p> tab4 content here </p>
	  </div>
	</div>
</div>

<!-- END generic horizontal tabs !-->

<!-- BEGIN workouts horizontal tabs !-->
<div class="tabbable tabs-left">
	<ul class = "nav nav-tabs">
		

		<% @workouts.each do |workout| %>
			<% if workout == @workouts.first %>
			<li class="active">
	    	<a data-toggle="tab" href="#<%=workout.id.to_s%>">
	    		<%= render 'workout_heading' ,workout: workout %>
	    	</a>
	    </li>
	    <% else %>
		    <li class="">
		    	<a data-toggle="tab" href="#<%=workout.id.to_s%>">
		    		<%= render 'workout_heading' ,workout: workout %>
		    	</a>
		    </li>
		  <% end %>
		<% end %>

	</ul>
	
	<div class="tab-content" id="myTabContent">

		<% @workouts.each do |workout| %>
			<% if workout == @workouts.first %>
				<div 	id="<%=workout.id.to_s%>" 
							class="tab-pane fade active in">
			   	<p>
			   		<%= render 'workout_content' , workout: workout %> 
			   	</p>
			  </div>
			<%else%>
			  <div 	id="<%=workout.id.to_s%>" 
			  			class="tab-pane fade">
			   	<p>
			   		<%= render 'workout_content' , workout: workout %> 
			   	</p>
			  </div>
			<% end %>
	  <%end %>
	</div>
</div>
<!-- END workouts horizontal tabs !-->

<%= will_paginate @workouts %>

<div class="accordion" id="accordion2">
	
	<% @workouts.each do |workout| %>
		<% accordion_linkage = workout.id.to_s %>
		<div class="accordion-group">
			<div class="accordion-heading">
				<div class="row">
					<div class="span9">
						<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#<%= accordion_linkage %>">
								<%= render 'workout_heading' ,workout: workout %>
						</a>
					</div>
						<%= render 'workout_heading_btns',workout: workout %>
				</div>
			</div>
			<div id="<%= accordion_linkage %>" class="accordion-body collapse">
				<div class="accordion-inner rep-list">
					<%= render 'workout_content' , workout: workout %>
				</div>
			</div>
		</div>	
	<% end%>
</div>