<% provide(:title, @user.name) %>
<div class="row">
	<aside class="span4">
		<section>
			<div>
				<h1><%= @user.name %></h1>
			</div>
			<h1>
				<%= gravatar_for @user, size: 150 %>
			</h1>
		</section>
	</aside>
	<div class= "span4 hero-unit">
		<h2> Progress Chart </h2>
	</div>	
</div>
<div class="row">
	<div class="span9">
		<% if @user.workouts.any? %>
			<h3>Total Workouts(<%= @user.workouts.count %>)</h3>
		<%else%>
			<h3>No workouts recorded.</h3>
		<% end %>
	</div>
</div>
<div class="row">
	<div class="span2">
			<% if current_user?(@user) %>
				<h3><%= link_to "New workout", new_workout_path, class: "btn btn-large btn-primary" %></h3>
			<% end %>
	</div>		
</div>

<div class="tabbable tabs-left">
	<ul class = "nav nav-tabs">
		 <li class="active"><a data-toggle="tab" href="#tab1">first</a></li>
    <li class=""><a data-toggle="tab" href="#tab2">second</a></li>
    <li class=""><a data-toggle="tab" href="#tab3">third</a></li>
    <li class=""><a data-toggle="tab" href="#tab4">fourth</a></li>
	</ul>
	<div class="tab-content" id="myTabContent">
    <div id="tab1" class="tab-pane fade active in">
	   	<p> tab1 content here </p>
	  </div>
	  <div id="tab2" class="tab-pane fade">
	   	<p> tab2 content here </p>
	  </div>
	  <div id="tab3" class="tab-pane fade">
	   	<p> tab3 content here </p>
	  </div>
	  <div id="tab4" class="tab-pane fade">
	   	<p> tab4 content here </p>
	  </div>
		</div>
</div>

<%= will_paginate @workouts %>

<div class="accordion" id="accordion2">
	
	<% @workouts.each do |workout| %>
		<% accordion_linkage = workout.id.to_s %>
		<div class="accordion-group">
			<div class="accordion-heading">
				<div class="row">
					<div class="span9">
						<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#<%= accordion_linkage %>">
								<%= render 'workout_heading' ,workout: workout %>
						</a>
					</div>
						<%= render 'workout_heading_btns',workout: workout %>
				</div>
			</div>
			<div id="<%= accordion_linkage %>" class="accordion-body collapse">
				<div class="accordion-inner rep-list">
					<%= render 'workout_content' , workout: workout %>
				</div>
			</div>
		</div>	
	<% end%>
</div>