<%= form_for(@workout) do |f| %>
	<%= render 'shared/error_messages', object: f.object %>
	<div>

		<div class="row">
			<div class="span2">
				<%= f.label :date %>
				<%= f.text_field :date %>
			</div>
			<div class="span2 pull-right">
				<%= f.label :weigh_in %>
				<%= f.text_field :weigh_in, placeholder: "kg" %>
			</div>
		</div>

		<%= f.label :notes %>
		<%= f.text_field :notes %>

		<div class="row">
			<div class="span4">
				Exercise
			</div>
			<div class="span2 pull-right">
				Weight(kg)
			</div>
		</div>
		<%= f.fields_for :reps do |builder| %>
			<%= render 'reps_form', rep_fields: builder %>
		<% end %>
	</div>
	<%= f.submit "Post", class: "btn btn-large btn-primary" %>
<% end %>