<%= form_for(@workout) do |f| %>
	<%= render 'shared/error_messages', object: f.object %>
	<div>

		<div class="row">
			<div class="span2">
				<%= f.label :date %>
				<%= f.text_field :date %>
			</div>
			<div class="span2 pull-right">
				<%= f.label t(:label_my_weight_18) %>
				<%= f.text_field t(:field_my_weight_18) %>
			</div>
		</div>

		<%= f.label :notes %>
		<%= f.text_field :notes %>

		<div class="row">
			<div class="span4">
				Exercise
			</div>
			<div class="span2 pull-right">
				<%= t(:label_additional_weight_18) %>
			</div>
		</div>
		<%= f.fields_for :reps do |builder| %>
			<%= render 'rep_fields', f: builder %>
		<% end %>
	</div>

	<p><%= link_to_add_fields "Add Rep", f, :reps %></p>	
	<%= f.submit "Post", class: "btn btn-large btn-primary" %>
<% end %>