<% provide(:title, 'All Exercises') %>
<h1>All Exercises</h1>

<div class="tabbable tabs-left">
  <ul class="nav nav-tabs" id="myTab">
    <li class="active"><a data-toggle="tab" href="#body">Body</a></li>
    <li class=""><a data-toggle="tab" href="#barbell">Barbell</a></li>
    <li class=""><a data-toggle="tab" href="#dumbell">Dumbell</a></li>
    <li class=""><a data-toggle="tab" href="#kettlebell">Kettlebell</a></li>
    <li class="dropdown">
      <a data-toggle="dropdown" class="dropdown-toggle" href="#">Dropdown <b class="caret"></b></a>
      <ul class="dropdown-menu">
        <li><a data-toggle="tab" href="#dropdown1">@fat</a></li>
        <li><a data-toggle="tab" href="#dropdown2">@mdo</a></li>
      </ul>
    </li>
  </ul>
  <div class="tab-content" id="myTabContent">
    <div id="body" class="tab-pane fade active in">
      	<ul class="exercises">
  			<% exercise_category = @exercise_categories.select{|cat| cat.name == "BODYWEIGHT" } %>
  			<% exercise_category_id = exercise_category.first.id %>
  			<% #exercise_category_id = @exercise_categories[0].id %>
		  	<% @exercises.where("exercise_category_id = ?", exercise_category_id).each do |exercise| %>
		  		<div class = "row">
			    	<li>
			    		<div class="span2">
			    			<%= link_to exercise.name, exercise %>
			    		</div>
			    		<div class="span1">
			    			<%= link_to exercise.work_joule(0).round.to_s, exercise %>
			    		</div>
			    		<% if current_user.admin? %>
			    		<div class="span1">
			    			<%= link_to '<span class="btn btn-mini btn-primary center-icon">
									<i class="icon-remove icon-white"></i>
								</span>'.html_safe, exercise, method: :delete, data: { confirm: "You sure?" }%>
						</div>
			    		<% end %>
			    	</li>
		    	</div>
		  	<% end %>
		</ul>
    </div>
    <div id="barbell" class="tab-pane fade">
    	<ul class="exercises">
  			<% exercise_category = @exercise_categories.select{|cat| cat.name == "BARBELL" } %>
  			<% exercise_category_id = exercise_category.first.id %>
  			<% #exercise_category_id = @exercise_categories[0].id %>
		  	<% @exercises.where("exercise_category_id = ?", exercise_category_id).each do |exercise| %>
		  		<div class = "row">
			    	<li>
			    		<div class="span2">
			    			<%= link_to exercise.name, exercise %>
			    		</div>
			    		<div class="span1">
			    			<%= link_to exercise.work_joule(0).round.to_s, exercise %>
			    		</div>
			    		<% if current_user.admin? %>
			    		<div class="span1">
			    			<%= link_to '<span class="btn btn-mini btn-primary center-icon">
									<i class="icon-remove icon-white"></i>
								</span>'.html_safe, exercise, method: :delete, data: { confirm: "You sure?" }%>
						</div>
			    		<% end %>
			    	</li>
		    	</div>
		  	<% end %>
		</ul>
    </div>
    <div id="dumbell" class="tab-pane fade">
      	<ul class="exercises">
  			<% exercise_category = @exercise_categories.select{|cat| cat.name == "DUMBELL" } %>
  			<% exercise_category_id = exercise_category.first.id %>
  			<% #exercise_category_id = @exercise_categories[0].id %>
		  	<% @exercises.where("exercise_category_id = ?", exercise_category_id).each do |exercise| %>
		  		<div class = "row">
			    	<li>
			    		<div class="span2">
			    			<%= link_to exercise.name, exercise %>
			    		</div>
			    		<div class="span1">
			    			<%= link_to exercise.work_joule(0).round.to_s, exercise %>
			    		</div>
			    		<% if current_user.admin? %>
			    		<div class="span1">
			    			<%= link_to '<span class="btn btn-mini btn-primary center-icon">
									<i class="icon-remove icon-white"></i>
								</span>'.html_safe, exercise, method: :delete, data: { confirm: "You sure?" }%>
						</div>
			    		<% end %>
			    	</li>
		    	</div>
		  	<% end %>
		</ul>
    </div>
    <div id="kettlebell" class="tab-pane fade">
      	<ul class="exercises">
  			<% exercise_category = @exercise_categories.select{|cat| cat.name == "KETTLEBELL" } %>
  			<% exercise_category_id = exercise_category.first.id %>
  			<% #exercise_category_id = @exercise_categories[0].id %>
		  	<% @exercises.where("exercise_category_id = ?", exercise_category_id).each do |exercise| %>
		  		<div class = "row">
			    	<li>
			    		<div class="span2">
			    			<%= link_to exercise.name, exercise %>
			    		</div>
			    		<div class="span1">
			    			<%= link_to exercise.work_joule(0).round.to_s, exercise %>
			    		</div>
			    		<% if current_user.admin? %>
			    		<div class="span1">
			    			<%= link_to '<span class="btn btn-mini btn-primary center-icon">
									<i class="icon-remove icon-white"></i>
								</span>'.html_safe, exercise, method: :delete, data: { confirm: "You sure?" }%>
						</div>
			    		<% end %>
			    	</li>
		    	</div>
		  	<% end %>
		</ul>
    </div>
    <div id="dropdown1" class="tab-pane fade">
      <p>Etsy mixtape wayfarers....</p>
    </div>
    <div id="dropdown2" class="tab-pane fade">
      <p>Trust fund seitan letterpress...</p>
    </div>
  </div>
</div>