<% provide(:title, 'New Exercise') %>
<h2>New Exercise</h2>

<div class="row">
  <div class="span6 offset3">
    <%= form_for(@exercise) do |f| %>
		<%= render 'shared/error_messages_exercises' %>

		<%= f.label :exercise_category_id %>
		<%= f.collection_select :exercise_category_id, ExerciseCategory.all, :id, :name %>

		<%= f.label :name %>
		<%= f.text_field :name %>

		<div>
			<strong> Distance Factors (Relative to Body Length)</strong>
		</div>

		<div class = "row">

			<div class = "span1">
				<%= f.label "Up" %>
				<%= f.text_field :dfactor_body_up %>
			</div>
			<div class = "span1">
				<%= f.label "Down" %>
				<%= f.text_field :dfactor_body_down %>	
			</div>
			<div class = "span1">
				<%= f.label "lat" %>
				<%= f.text_field :dfactor_body_lat %>	
			</div>
			<div class = "span1">
				<%= f.label "Hold+!" %>
				<%= f.text_field :dfactor_body_static_tension_max %>	
			</div>
			<div class = "span1">
				<%= f.label "Hold+-" %>
				<%= f.text_field :dfactor_body_static_tension_max %>	
			</div>
		</div>

		<div>
			<strong> Weight Factors (Relative to Body Weight)</strong>
		</div>

		<div class = "row">

			<div class = "span1">
				<%= f.label "Up" %>
				<%= f.text_field :wfactor_body_up %>
			</div>
			<div class = "span1">
				<%= f.label "Down" %>
				<%= f.text_field :wfactor_body_down %>	
			</div>
			<div class = "span1">
				<%= f.label "lat" %>
				<%= f.text_field :wfactor_body_lat %>	
			</div>
			<div class = "span1">
				<%= f.label "Hold+!" %>
				<%= f.text_field :wfactor_body_static_tension_max %>	
			</div>
			<div class = "span1">
				<%= f.label "Hold+-" %>
				<%= f.text_field :wfactor_body_static_tension_max %>	
			</div>
		</div>

		<%= f.submit "Enter New Exercise", class: "btn btn-large btn-primary"%>
    <% end %>
  </div>
</div>