<div class="row">
  <div class="span6 offset3">
    <%= form_for(@exercise) do |f| %>
		<%= render 'shared/error_messages_exercises' %>

		<%= f.label :name %>
		<%= f.text_field :name %>

		<%= f.label :exercise_category_id %>
		<%= f.collection_select :exercise_category_id, ExerciseCategory.all, :id, :name %>

		<%= f.submit "Enter New Exercise", class: "btn btn-large btn-primary"%>
    <% end %>
  </div>
</div>